<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<head>
    <link rel="stylesheet" href="/css/events.css">
</head>

<body id="page-container">
<div id="content-wrap">
    <%- include('../partials/navbar') %>

    <div class="body-full">
        <div class="d-flex flex-row flex-wrap title-header">
            <div class="col-md-3 d-md-block d-none animate__animated animate__zoomIn animate__delay-1s">
<!--                <img srcset="../img/events/thinktank2023/resized/thinktank_left_banner-256.webp 256w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_left_banner-540.webp 540w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_left_banner-720.webp 720w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_left_banner-950.webp 950w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_left_banner-1140.webp 1140w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_left_banner-1300.webp 1300w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_left_banner-1440.webp 1440w"-->
<!--                     sizes="calc(25vw - 30px)" src="../img/events/thinktank2023/thinktank_left_banner.jpg"-->
<!--                     class="img-left" alt="">-->
            </div>

            <div class="col-md-6">
                <h1 class="title-1 animate__animated animate__fadeInDown my-5">EVOLVE 2023:
                    <span class="title-1 animate__animated animate__zoomIn animate__delay-1s">FLUTTER</span>
                </h1>

                <img src="/img/events/evolve2023/evolve.png"
                    class="event-banner animate__animated animate__zoomIn animate__delay-2s">
                <div class="d-flex flex-row flex-wrap body-text">
                    <p class="px-3">&emsp;The Markham Mayor’s Youth Council (MMYC) is a group of diverse and dedicated students
                        representing the fabric of Markham’s youth community as a youth-based branch of the Markham City Council.
                        Along with connecting youth with Markham Councillors and the Mayor of Markham, the purpose of the
                        MMYC is to provide local youth a voice by which they may give input and develop initiatives
                        to enhance youth opportunities within the City of Markham.
                        <br><br>
                        &emsp;The Markham Mayor’s Youth Council is once again hosting EVOLVE, an annual event dedicated to helping
                        elementary school students and grade 9 students adapt a smooth transition to high school.
                        <br><br>
                        &emsp;Sign ups have officially opened and all students in Grades 7 to 9 are strongly encouraged to sign
                        up at <a href="https://markhamyouth.ca/events/evolve2023/signup">markhamyouth.ca/events/evolve2023/signup</a>.
                        <br><br>
                        &emsp;On Saturday, February 4th, 2023 from 11:00 AM - 4:00 PM, we will be hosting our annual leadership
                        conference EVOLVE at Rouge River Community Centre. The purpose of this event is to prepare incoming
                        high school students for the next step of their education with topics such as high school programs,
                        volunteering and reach ahead opportunities. These topics will be communicated through our well-rounded
                        guest speakers and youth council fair. To sign up, students must fill out the form found at bit.ly/EVOLVE23.</p>
                </div>

                <div class="d-flex flex-row flex-wrap mb-4">
                    <div class="col-md-6 wherewhen mb-md-0 mb-3">
                        <i class="far fa-clock fa-3x time-date"></i>
                        <h3>&nbsp Feburary 4, 2023 from 11:00 AM to 4:00 PM</h3>
                    </div>
                    <div class="col-md-6 wherewhen">
                        <i class="fas fa-map-marker-alt fa-3x time-date"></i>
                        <h3>&nbsp Hosted at Rouge River Community Center</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-md-block d-none animate__animated animate__zoomIn animate__delay-1s">
<!--                <img srcset="../img/events/thinktank2023/resized/thinktank_right_banner-256.webp 256w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-540.webp 540w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-720.webp 720w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-910.webp 910w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-1070.webp 1070w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-1140.webp 1210w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-1330.webp 1330w,-->
<!--                        ../img/events/thinktank2023/resized/thinktank_right_banner-1440.webp 1440w"-->
<!--                     sizes="calc(25vw - 30px)" src="../img/events/thinktank2023/thinktank_right_banner.jpg"-->
<!--                     class="img-left" alt="">-->
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
</body>

</html>