<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
<head>
    <link rel="stylesheet" href="../css/events.css">
</head>

<body id="page-container">
<div id="content-wrap">
    <%- include('../partials/navbar') %>

    <div class="body-full">
        <div class="d-flex flex-row flex-wrap title-header">
            <div class="col-md-2 d-md-block d-none animate__animated animate__zoomIn animate__delay-1s">
<!--                <img  src="/img/events/thinktank2023/thinktank_left_banner.jpg"            class="img-left" alt="">-->

            </div>

            <div class="col-md-8">
                <h1 class="title-1 animate__animated animate__fadeInDown my-5">Markham Youth Expo 2023
<!--                    <span class="title-1 animate__animated animate__zoomIn animate__delay-1s">Challenge Your Thinking</span>-->
                </h1>

                                            <img src="/img/events/expo2023/website banner.png"
                                                class="event-banner animate__animated animate__zoomIn animate__delay-2s">
                <div class="d-flex flex-row flex-wrap body-text">
                    <p class="px-3">&emsp;&emsp;The long-awaited Markham Youth Expo Presented by York University is back! Each year,
                        this event serves to showcase the diverse talents of youth and recognize their active
                        participation in our diverse local community. This year we will be returning to full capacity
                        with our first in-person Expo in 3 years. Drop in anytime on May 6 from 3 to 8 PM at Aaniin
                        Community Centre to celebrate our community. </p>
                    <br>
                    <h3>Onstage</h3>
                    <p class="px-3">&emsp;&emsp;The onstage portion of EXPO hopes to encapsulate the spirit of Markham. We will be
                        connecting with the Markham community by including traditional dances, along with entertainment
                        for every age group. From Disney sing-alongs to talent shows, everyone will be a part of the
                        fun. We will also introduce Markham’s Got Talent; a chance for people to demonstrate and share
                        their skills in a competition format for prizes!
                    </p>
                    <br>
                    <h3>Offstage</h3>
                    <p class="px-3">&emsp;&emsp;Offstage at Markham Expo you can walk around Markham Expo and experience the
                        wonderful booths ranging from face painting, tug of war and even a fire truck! Learn about
                        different companies and organizations, earn Markham Expo Points and drop in to play pickup
                        basketball. The fun is unlimited at Expo!
                    </p>
                </div>

                <div class="d-flex flex-row flex-wrap mb-4">
                    <div class="col-md-6 wherewhen mb-md-0 mb-3">
                        <i class="far fa-clock fa-3x time-date"></i>
                        <h3>&nbsp 3:00pm to 8:00pm on May 6, 2023</h3>
                    </div>
                    <div class="col-md-6 wherewhen">
                        <i class="fas fa-map-marker-alt fa-3x time-date"></i>
                        <h3>&nbsp Hosted at Aaniin Community Center</h3>
                    </div>
                </div>
                <div class="d-flex flex-row flex-wrap text-center align-self-center align-content-center justify-content-center">
                    <div style = "width:100%">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5754.352399983095!2d-79.2692879864974!3d43.85217648591326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d6f4bb2c7459%3A0xa29a5d430af879c5!2sAaniin%20Community%20Centre!5e0!3m2!1sen!2sca!4v1680362216700!5m2!1sen!2sca"
                                style="border:0;width:100%;aspect-ratio: 600/450" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="d-flex flex-row flex-wrap text-center align-self-center align-content-center justify-content-center">
                    <div style = "width:100%">
                        <iframe style="width:100%;aspect-ratio: 600/338" src="https://www.youtube.com/embed/p3-m9xcI3eg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-md-block d-none animate__animated animate__zoomIn animate__delay-1s">
<!--                <img src="/img/events/thinktank2023/thinktank_right_banner.jpg"class="img-left" alt="">-->
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
</body>

</html>