<div class="footer-full">
    <div class="container">
        <div class="row">
            <div class="col-9 d-flex">
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                    }
                </script>
                <div class="row container-fluid">
                    <div class="col-1"></div>
                    <div class="col-3" id="resources_list">
                        <h5>Resources</h5>
                        <div><a href="#">FAQs</a></div>
                        <div><a href="#">Privacy Policy</a></div>
                        <div><a href="#">Contact Support</a></div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-6" id="mailing_list">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1"><h5>Sign up for our Mailing List</h5></label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex" id="icons">
                    <a href="#"> <i class="fa fa-facebook-square fa-3x" id="facebook_button"></i></a>
                    <a href="#"> <i class="fab fa-instagram-square fa-3x" id="instagram_button"></i></a>
                    <a href="#"> <i class="fa fa-twitter-square fa-3x" id="twitter_button"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>