<head>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/home">
        <img src="/img/logo/resized/MMYC-Logo-1.svg" class="d-inline-block align-top logo" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto margin-all">
            <li class="nav-item margin-link">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown margin-link">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/about-us">About Us - MMYC</a>
                    <a class="dropdown-item" href="/meet-the-team">Meet The Team</a>
                    <a class="dropdown-item" href="/ambassador">Ambassador Program</a>
                </div>
            </li>
            <li class="nav-item dropdown margin-link">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false" href="/events">
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/events/expo2023">Expo 2023</a>
                    <a class="dropdown-item" href="/events/thinktank2023">ThinkTank 2023</a>
                    <a class="dropdown-item" href="/events/evolve2023">Evolve 2023</a>
                </div>
            </li>
            <li class="nav-item margin-link">
                <a class="nav-link" href="/sponsors">Sponsors</a>
            </li>
            <li class="nav-item margin-link btn btn-primary" id="contact">
                <a class="nav-link" href="/contact-us" id="contact-text">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">
    $('li.dropdown').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(20).fadeIn(150);
    }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(20).fadeOut(100);
    });
</script>

<!--<div style="margin:2%; margin-top:0;"> &lt;!&ndash;move into nav&ndash;&gt;-->

<!--    <div class="info" style="font-size: 20px;">-->
<!--        <span class="closebtn" onclick="this.parentElement.style.opacity='0'; div=this.parentElement; setTimeout(function(){ div.style.display = 'none';}, 600);">&times;</span>-->
<!--        <b>Applications are out!</b> Want to sign up to be a part of MMYC? <br><br><a href="/signup"><button class="sign_up_learn_more" >Sign Up Now!</button></a>-->

<!--        <style>-->
<!--            /* The alert message box */-->
<!--            .sign_up_learn_more {background-color: #0b7dda; color: white; border-radius: 10px; border:none;padding: 14px 28px; cursor: pointer; width: 100%;} /* Gray */-->
<!--            .sign_up_learn_more:hover {background: #168AE7;}-->

<!--            .info {-->
<!--                padding: 20px;-->
<!--                background-color: #2196F3; /* Red */-->
<!--                color: white;-->
<!--                margin-bottom: 15px;-->
<!--                opacity: 1;-->
<!--                transition: opacity 0.6s;-->
<!--                border-radius: 5px;-->
<!--            }-->

<!--            /* The close button */-->
<!--            .closebtn {-->
<!--                margin-left: 15px;-->
<!--                color: white;-->
<!--                font-weight: bold;-->
<!--                float: right;-->
<!--                font-size: 22px;-->
<!--                line-height: 20px;-->
<!--                cursor: pointer;-->
<!--                transition: 0.3s;-->
<!--            }-->

<!--            /* When moving the mouse over the close button */-->
<!--            .closebtn:hover {-->
<!--                color: black;-->
<!--            }-->
<!--        </style>-->

<!--    </div>-->
<!--</div>-->
