<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/css/about.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap" rel="stylesheet">
    </head>

    <body id="page-container">
        <div id="content-wrap">
            <%- include('partials/navbar') %>
                <div class="d-flex flex-row flex-wrap title-header">
                    <div class="col-md-3 d-md-block d-none my-5 animate__animated animate__zoomIn animate__delay-1s">
                        <img src="/img/IMG_9071.jpg" class="img-left" alt="About Us">
                    </div>
                    <div class="main-title col-md-6">
                        <h1 class="title-1 animate__animated animate__fadeInLeft my-lg-5 mb-5">About Us</h1>
                        <div class="d-flex flex-row flex-wrap title-header">
                            <p class="mx-4">The Markham Mayor’s Youth Council is a group of diverse and dedicated teens
                                representing the fabric of Markham’s youth community. We are dedicated to raising
                                awareness and celebrating youth, as well as being an active voice in the City of
                                Markham. The MMYC is a branch of the Markham Council run by youth. It is comprised of
                                youth, Markham Councillors and the Mayor of Markham. The purpose of the MMYC is to
                                provide local youth a voice by which they may give input and develop initiatives to
                                enhance youth opportunities within the City of Markham.<br><br>Mandate:</p>
                            <p class="mx-4">
                                <ol>
                                    <li>
                                        The MMYC shall act in an advisory capacity, and provide advice on issues of concern to youth.
                                    </li>
                                    <li>
                                        The MMYC shall act in an advocacy role, and provide new ideas and views to council and staff.
                                    </li>
                                    <li>
                                        The MMYC shall raise awareness in the community through planned events.
                                    </li>
                                    <li>
                                        The MMYC shall encourage youth participation within the community.
                                    </li>
                                </ol>
                            </p>
                        </div>
                        <hr class="w-50">
                        <div class="d-flex flex-row flex-wrap mx-5">
                            <div class="card">
                                <div class="card-body quote-block">
                                    <blockquote class="blockquote mb-0">
                                        <div class="d-flex flex-row">
                                            <div class="col-9">
                                                <p style="text-align: left;">I am inspired by the commitment of the
                                                    youth of today to building a better future for our community.</p>
                                                <footer class="blockquote-footer"><i>Frank Scarpitti</i>, Mayor of
                                                    Markham</footer>
                                            </div>
                                            <div class="col-3">
                                                <img src="/img/mayor/2013-Frank-Scarpitti.jpg"
                                                    class="mayor-picture" alt="Mayor Scarpitti's Picture">
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-md-block d-none my-5 animate__animated animate__zoomIn animate__delay-1s">
                        <img src="/img/mmjcright.jpg" class="img-right" alt="MMJC">
                    </div>
                </div>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>