<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/css/events.css">
    </head>

    <body id="page-container">
        <div id="content-wrap">
            <%- include('partials/navbar') %>
                <div class="d-flex flex-row flex-wrap title-header body-full">
                    <div class="col-md-2">
                        <img src="" class="img-left" alt="">
                    </div>
                    <div class="main-title col-md-8">
                        <h1 class="title-1 animate__animated animate__fadeInLeft">Our Events</h1>
                        <p class="body-text" style="text-align: center;">Click on the banners to learn more!</p>
                        <div class="d-flex flex-row flex-wrap">
                            <div class="col-md-6">
                                <a href="/thinktank">
                                    <img src="/img/thinktank front slide.png" class="event-banner">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/thinktank">
                                    <img src="/img/thinktank front slide.png" class="event-banner">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>