<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/css/privacy.css">
    </head>

    <body id="page-container">
        <div id="content-wrap">
            <%- include('partials/navbar') %>
                <div class="d-flex flex-row flex-wrap title-header">
                    <div class="col-md-3">
                    </div>
                    <div class="main-title col-md-6">
                        <h2>General FAQs</h2>
                        <h3>Q: How is MMYC adapting during the COVID-19 pandemic?</h3>
                        <p>MMYC is commited to prioritizing safety above all else.
                            We are actively exploring different online channels through which
                            we can continue youth activism. As for in-person events, MMYC will
                            strictly abide by the City of Markham's health regulations. For more
                            information, visit <a
                                href="https://www.markham.ca/wps/portal/home/about/COVID-19-Information">
                                https://www.markham.ca/wps/portal/home/about/COVID-19-Information
                            </a>
                        </p>
                        <h3>Q: How should I stay up to date with MMYC's events?</h3>
                        <p>MMYC has many active <a href="/contact-us">social sites</a> on which we frequently post new
                            event updates! Alternatively, you can check this website for updates, or sign up for our
                            mailing list (you can find sign-ups located in the footer of this site).
                        </p>
                        <h3>Q: How can I sign up to attend MMYC's events?</h3>
                        <p>Not all of MMYC's events require sign-ups! For the ones that do, you can keep track on our
                            <a href="/contact-us">social sites</a>, where we will post sign-up forms closer to the
                            event date. Those forms will also be made available on the event's page (under the events
                            tab).
                        </p>
                        <h2>Application FAQs</h2>
                        <h3>Q: Are applications open? If not, when do they open?</h3>
                        <p>Whether you are interested in applying for MMYC, MMJC, or the Ambassadors program,
                            we will post on our socials and on this website when applications are released! As
                            a general guide:
                        <ul>
                            <li>
                                <p><b>MMYC Applications</b> start around the end of June each year, and written
                                    applications close around three weeks after they are released. Applicants must
                                    complete
                                    a written application to be considered for a position.</p>
                            </li>
                            <li>
                                <p><b>MMYC Applications</b> start around the middle of August each year, and written
                                    applications close around three weeks after they are released. Applicants must
                                    complete
                                    a written application to be considered for a position.</p>
                            </li>
                            <li>
                                <p><b>Ambassador Applications</b> start around the beginning of September each year, and
                                    written applications close around three weeks after they are released. Applicants
                                    must
                                    complete a written application to be considered for a position.</p>
                            </li>
                        </ul>
                        </p>
                        <h3>Q: How are applications formatted?</h3>
                        <p>
                        <ul>
                            <li>
                                <p><b>MMYC:</b> 3 steps. A written application, a team challenge, and an interview.
                                    Successful applicants will move on to successive steps. We strongly recommend you
                                    participate in all three steps. If you are unavailable for one or more, please
                                    contact us with your reasoning.</p>
                            </li>
                            <li>
                                <p><b>MMJC:</b> 2 steps. A written application and an interview.
                                    Successful applicants will move on to the interview. If you are unavailable for the
                                    interview, please contact us with your reasoning.</p>
                            </li>
                            <li>
                                <p><b>Ambassadors:</b> One written application.</p>
                            </li>
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>