<!DOCTYPE html>
<html lang="en">


<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <%- include('partials/navbar') %>
            <div class="container d-flex flex-row flex-wrap my-5 align-items-center">
                <div class="main-title col-lg-6 col-12">
                    <h1>Markham</h1>
                    <h1>&nbsp &nbsp Mayor's</h1>
                    <h1>&nbsp &nbsp &nbsp &nbsp Youth</h1>
                    <h1>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Council</h1>
                </div>
                <div class="image-stack col-lg-6 col-12 my-5 my-lg-0">
                    <img src="/img/cropped-IMG_4401-1-min.jpg" class="img1" alt=" ">
                    <img src="/img/yale_blue.jpg" class="img2" alt=" ">
                </div>
            </div>
            <div class="container">
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda dolores reprehenderit voluptates iusto a, vitae adipisci perferendis repudiandae! Nihil natus fugit praesentium itaque. Commodi quam eveniet, incidunt repellendus
                      eaque cupiditate. Esse dolorem magni nostrum facere, doloremque, placeat recusandae amet aspernatur aliquid temporibus perspiciatis. Rem soluta expedita pariatur quas quibusdam officia repellendus repellat magni iusto laboriosam,
                      impedit excepturi voluptatem exercitationem explicabo. Accusamus quos fuga est doloremque consectetur nesciunt nemo. Optio hic, corporis laboriosam adipisci excepturi sunt asperiores aliquid, facilis minus praesentium magnam
                      ullam necessitatibus recusandae, totam repellendus distinctio minima dolore! Sint? Natus, doloribus deserunt necessitatibus sed, tempore dolorem, quibusdam numquam maiores quaerat itaque libero perspiciatis distinctio odio
                      consequatur commodi? Ab nemo facilis delectus eius, vel animi minima odio velit. Fugiat, voluptatum.
                  </p>
              </div>
            </div>

        <%- include('partials/footer') %>
    </body>

</html>
