<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/css/mmjc.css">
    </head>

    <body>
        <%- include('partials/navbar') %>
            <div class="d-flex flex-row flex-wrap body-full">
                <div class="col-md-1">
                </div>
                <div class="main-title col-md-6">
                    <h1 class="title-1 animate__animated animate__fadeInLeft">Markham Mayor's Junior Council</h1>
                    <div class="d-flex flex-row flex-wrap title-header">
                        <p>The Markham Mayor’s Junior Council (MMJC) is comprised of individuals in elementary school who wish to promote and encourage the engagement of elementary school students in their communities. The members of this team plan and organize
                            events and activities for elementary school students. The MMJC gives an opportunity for these individuals to display strong leadership skills, and build on their communication, writing, and problem solving skills. Look out
                            for MMJC events that will be coming up this year!</p>
                        <div style="align-items: center;">
                            <img src="/img/non-png-8-1020x421.jpg" alt="MMJC Logo" style="width: calc(20px + 35%); display: block; margin-left: auto; margin-right: auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 animate__animated animate__zoomIn animate__delay-1s">
                    <img src="/img/mmjctopleft.jpg" class="img-right" alt="MMJC">
                </div>
            </div>

            <%- include('partials/footer') %>
    </body>

</html>