<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/css/privacy.css">
    </head>

    <body id="page-container">
        <div id="content-wrap">
            <%- include('partials/navbar') %>
                <div class="d-flex flex-row flex-wrap title-header">
                    <div class="col-md-3">
                    </div>
                    <div class="main-title col-md-6">
                        <h1>Privacy Policy</h1>
                        <p>Last updated: December 26, 2020</p>
                        <h1>Collecting and Using Your Personal Data</h1>
                        <h2>Types of Data Collected</h2>
                        <h3>Personal Data</h3>
                        <p>While using Our Service, We may ask You to provide Us with certain personally identifiable
                            information that can be used to contact or identify You. Personally identifiable information
                            may include, but is not limited to:</p>
                        <ul>
                            <li>
                                <p>Email address</p>
                            </li>
                            <li>
                                <p>First name and last name</p>
                            </li>
                            <li>
                                <p>Company</p>
                            </li>
                            <li>
                                <p>Usage Data</p>
                            </li>
                        </ul>
                        <h3>Usage Data</h3>
                        <p>Usage Data is collected automatically when using the Service.</p>
                        <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP
                            address), browser type, browser version, the pages of our Service that You visit, the time
                            and date of Your visit, the time spent on those pages, unique device identifiers and other
                            diagnostic data.</p>
                        <p>When You access the Service by or through a mobile device, We may collect certain information
                            automatically, including, but not limited to, the type of mobile device You use, Your mobile
                            device unique ID, the IP address of Your mobile device, Your mobile operating system, the
                            type of mobile Internet browser You use, unique device identifiers and other diagnostic
                            data.</p>
                        <p>We may also collect information that Your browser sends whenever You visit our Service or
                            when You access the Service by or through a mobile device.</p>
                        <h2>Use of Your Personal Data</h2>
                        <p>The Company may use Personal Data for the following purposes:</p>
                        <ul>
                            <li>
                                <p><strong>To provide and maintain our Service</strong>, including to monitor the
                                    usage of our Service.</p>
                            </li>
                            <li>
                                <p><strong>To contact You:</strong> To contact You by email, telephone calls, SMS,
                                    or other equivalent forms of electronic communication, such as a mobile
                                    application's push notifications regarding updates or informative communications
                                    related to the functionalities, products or contracted services, including the
                                    security updates, when necessary or reasonable for their implementation.</p>
                            </li>
                            <li>
                                <p><strong>To provide You</strong> with news, special offers and general information
                                    about other goods, services and events which we offer that are similar to those
                                    that you have already purchased or enquired about unless You have opted not to
                                    receive such information.</p>
                            </li>
                            <li>
                                <p><strong>For other purposes</strong>: We may use Your information for other
                                    purposes, such as data analysis, identifying usage trends, determining the
                                    effectiveness of our promotional campaigns and to evaluate and improve our
                                    Service, products, services, marketing and your experience.</p>
                            </li>
                        </ul>
                        <p>We may share Your personal information in the following situations:</p>
                        <ul>
                            <li><strong>With Service Providers:</strong> We may share Your personal information with
                                Service Providers to monitor and analyze the use of our Service.
                            </li>
                            <li><strong>With Your consent</strong>: We may disclose Your personal information for
                                any other purpose with Your consent.</li>
                        </ul>
                        <h2>Retention of Your Personal Data</h2>
                        <p>We will retain Your Personal Data only for as long as is necessary for the
                            purposes set out in this Privacy Policy. We will retain and use Your Personal Data to
                            the extent necessary to comply with our legal obligations (for example, if we are
                            required to retain your data to comply with applicable laws), resolve disputes, and
                            enforce our legal agreements and policies.</p>
                        <p>We will also retain Usage Data for internal analysis purposes. Usage Data is
                            generally retained for a shorter period of time, except when this data is used to
                            strengthen the security or to improve the functionality of Our Service, or We are
                            legally obligated to retain this data for longer time periods.</p>
                        <h2>Disclosure of Your Personal Data</h2>
                        <h3>Law enforcement</h3>
                        <p>Under certain circumstances, the Company may be required to disclose Your Personal Data
                            if required to do so by law or in response to valid requests by public authorities (e.g.
                            a court or a government agency).</p>
                        <h3>Other legal requirements</h3>
                        <p>The Company may disclose Your Personal Data in the good faith belief that such action is
                            necessary to:</p>
                        <ul>
                            <li>Comply with a legal obligation</li>
                            <li>Protect and defend the rights or property of the Company</li>
                            <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
                            <li>Protect the personal safety of Users of the Service or the public</li>
                            <li>Protect against legal liability</li>
                        </ul>
                        <h1>Links to Other Websites</h1>
                        <p>Our Service may contain links to other websites that are not operated by Us. If You click
                            on a third party link, You will be directed to that third party's site. We strongly
                            advise You to review the Privacy Policy of every site You visit.</p>
                        <p>We have no control over and assume no responsibility for the content, privacy policies or
                            practices of any third party sites or services.</p>
                        <h1>Changes to this Privacy Policy</h1>
                        <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by
                            posting the new Privacy Policy on this page.</p>
                        <p>We will let You know via email and/or a prominent notice on Our Service, prior to the
                            change becoming effective and update the &quot;Last updated&quot; date at the top of
                            this Privacy Policy.</p>
                        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to
                            this Privacy Policy are effective when they are posted on this page.</p>
                        <h1>Contact Us</h1>
                        <p>If you have any questions about this Privacy Policy, You can contact us at <a href="https://www.markhamyouth.com/contact-us">https://www.markhamyouth.com/contact-us</a></p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
        </div>

        <%- include('partials/footer') %>
    </body>

</html>