<!DOCTYPE html>
<html lang="en">


<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>

<body id="page-container">
<div id="content-wrap">
    <%- include('partials/navbar') %>
    <div class="container px-lg-5 d-flex flex-row flex-wrap my-5 pt-md-5 align-items-center">
        <h1>Please wait while you are redirected.</h1>
    </div>
</div>
<%- include('partials/footer') %>
</body>

</html>
