<!DOCTYPE html>
<html lang="en" style="height:100%">


<%- include('partials/header') %>

<head>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>


    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>

<body id="page-container" style="height: 100%; width:100%">
<div  style="height: 100%; width:100%"><!--id="content-wrap"-->
    <%- include('partials/navbar') %>
    <div style="align-content: center; width:100%; justify-content: center;text-align: center">
        <img src="img/joinmmyc20232024.png" width="50%" >
    </div>

    <div style="align-content: center;text-align: center; height:60%">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf0ZeZkryMzw6TwpimOq0s8_Pt5v85Bm-_3LeHLwibavH6odQ/viewform?embedded=true" width="90%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    <br>
    <div style="text-align: center;justify-content: center;align-content: center; margin:2%; margin-left: 10%; margin-right: 10%;">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0ZeZkryMzw6TwpimOq0s8_Pt5v85Bm-_3LeHLwibavH6odQ/viewform?embedded=true"><button class="sign_up_learn_more" >Open In Another Page</button></a>
    </div>
    <br>
</div>
<!--<%- include('partials/footer') %>-->
</body>

</html>
