.event-banner {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.icons {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title-1 h1 {
    margin-top: 0;
    margin-bottom: 2%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: calc(22px + 3vw);
    text-align: center;
}

.title-1 p {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: calc(4px + 1vw);
    text-align: center;
    margin-bottom: 0;
}

.title-1 p:first-of-type {
    color: #054A91;
}

.title-header {
    margin-bottom: 2%;
}

.social-media {
    display: flex;
    align-items: center;
    margin-bottom: 15%;
}

.social-media a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-media a img {
    width: 50%;
    margin: 2% 2%;
}

.body-full {
    min-height: 73.2vh;
    padding-bottom: 3%;
}

.body-text {
    font-size: calc(14px + 0.5vw);
    font-family: 'Mulish', sans-serif;
    text-align: justify;
}

.time-date {
    float: left;
}

.needs-validation label {
    font-family: 'Fira Sans', sans-serif;
}

.wherewhen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wherewhen h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.form-group {
    text-align: left;
}

#message {
    margin-bottom: 8%;
}

#submit-button {
    background-color: #22AED1;
    color: white;
    border-color: transparent;
    width: 30%;
    font-family: 'Fira Sans', sans-serif;
}

#thanks {
    display: none;
    font-size: calc(14px + 0.5vw);
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 220px;
}