.footer-full {
    background-color: #1E3888;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 22px 5px;
    width: 100%;
    color: white;
}

.goog-te-combo {
    background-color: white;
}

#footer_logo {
    width: 20%;
    height: 20%;
}

#twitter_button,
#instagram_button,
#facebook_button {
    color: white;
    width: 40%;
    height: 40%;
    padding: 3px;
}

#twitter_button:hover,
#instagram_button:hover,
#facebook_button:hover {
    color: rgb(228, 228, 228);
}

#resources_list a {
    text-align: center;
    color: white;
}

html {
    font-family: 'Monteserrat', sans-serif;
}

#icons {
    float: right;
}