.footer-full {
    background-color: #1E3888;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 22px 5px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px;
}

.goog-te-combo {
    font-family: 'Lato', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#footer_logo {
    width: 20%;
    height: 20%;
}

#twitter_button,
#instagram_button,
#facebook_button {
    color: white;
    width: 40%;
    height: 40%;
    padding: 3px;
}

#twitter_button:hover,
#instagram_button:hover,
#facebook_button:hover {
    color: rgb(228, 228, 228);
}

#resources_list a {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

html {
    font-family: sans-serif;
}

#icons {
    float: right;
}

#thank-you{
    display: none;
}
