.body-full {
    min-height: 73.2vh;
    padding-bottom: 4%;
}

.title-header {
    justify-content: center;
}

.main-title {
    margin-bottom: 3%;
}

.main-title h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: calc(22px + 3vw);
    text-align: center;
}

.main-title h1 span {
    color: #054A91;
}

.grid-column img {
    width: 100%;
    transition: transform .2s;
    margin: 0;
    padding-bottom: 5px;
}

.grid-column button {
    margin-top: 3%;
    width: 100%;
    transition: transform .2s;
}

.grid-column img:hover {
    transform: scale(1.03);
}

h2 {
    text-align: center;
    font-size: calc(6px + 1vw);
    font-family: 'Proza Libre', sans-serif;
    font-style: italic;
}

.rows {
    padding-top: 3%;
}

.cochairs {
    padding-top: 3%;
}

.profile-circle img {
    width: 100%;
    border-radius: 50%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 220px;
}
